.container{
    display: grid;
    grid-template-columns: repeat(5,2fr);
    grid-template-rows: 25% 10% 100% 30% 10%;
    grid-template-areas:
    ". .logo logo logo "
    ". . nav . ."
    " hero hero hero hero hero"
    ". father actor nerd ."
    /*" footer footer footer footer footer";*/
}
.logo{
    grid-area: logo;
    height: 100%;
    width: 100%;
    margin-left: 8%;
}
.nav{
    grid-area: nav;
    display: flex;
    text-align: center;

}
.hero{
    grid-area: hero;
    background-image: url(../images/barberstorefront.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}
.father{
    grid-area: father;
    padding: 20px;
}
.actor{
    grid-area: actor;
    padding: 20px;
}
.nerd{
    grid-area: nerd;
    padding: 20px;
}
footer{
    grid-area: social;
    background-color: black;
}
a{
    list-style: none;
    display: inline;
    text-align: center;
    padding: 19px;
}
h2{
    margin-top: 10%;
    margin-left: 50%;
    margin-bottom: 5%;
    margin-right: 10%;
    font-size: 50px;
    color: red;
    background-color: blue;
 
}
span{
    margin-left: 50%;
    margin-right: 5%;
    background-color: blue;
    font-size: 30px;
    color: white;
}

