@media (min-width: 320px){
.container{
    display: flex;
    flex-direction: column;
}
nav{
    background-color:transparent;
    grid-area: nav;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 30px;
}
h1{
    color: lightblue;
    font-family:georgia;
}
p a{
    color: lightblue;
    text-transform: uppercase;
    text-decoration: none;
}
main{

}
form{
    
    background-color:transparent;
}
footer{
    display: flex;
    flex-direction: row;
}
body{
    background-image: url(../images/clouds.jpeg);
    background-color: beige;
  

}
footer{
  width: 100%;
  background-color: transparent;
  margin-top: 30px;
}
form{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.iframe-container{
    margin-top: 45px;
    height: 500px;
}
label{
    color: lightblue;
}
}
@media (min-width: 700px){
 body{
    background-image: url(../images/redflarenight.jpeg);
    background-repeat: none;
    background-image: cover;
        
    }
.container{
    grid-template-columns: 1fr 1fr ;
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

header{
    display: flex;
    flex-direction: column;
    grid-area: header;
    width: 100%;
}
nav{ 
    background-color: black;
}
h1{
    font-size: 55px;
    color: red;
}
p a{
    color: red;
    text-decoration: none;
}
main{
    display: grid;
    grid-template-areas:
    "iframe form";
    grid-template-columns: 1fr 1fr;
    grid-area: main;
}
footer{
    grid-area: footer;
}
section.survey{
    grid-area: form;
    width: 90%;
    height: 75%;
    margin-left: 20px;
    margin-top: 50px;
    background-color: rgba(178, 34, 34, 0.336);
}
label{
    color: white;
}
.iframe-container{
    margin-top: 0;
    grid-area: iframe;
    width: 100%;
    
}
footer{
    background-color:transparent;
}
}