body{
    background-color: peachpuff;
}
header{
    border:  sienna 20px double;
    background-color:antiquewhite;
    color:olive;
    text-align: center;
    

}
h1{ 
    height: 40px;
    text-align: center;
    color: olive;
    font-size: 50px;
    font-family: cursive;
}
nav{
    background-color: aliceblue;
    font-family: serif;
    font-size: 20px;
}
main{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
h2{
    font-style: italic;
    font-size: 30px;
    color: sienna;
    text-decoration: underline;
}
article{
    color: olive;
    font-size: 20px;
   
}
ul{
    color: olive;
}
img{
    height: 70px;
}
a{
    color: sienna;
}
.title{
    text-align: center;
}

.section{
    display: grid;
    grid-template-areas: 
    ". . . list dates . .";
}
.list{
    grid-area: list;

}
.dates{
grid-area: dates;
}
